<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
</head>

<body>
    <!DOCTYPE html>
    <html>

    <head>
        <link rel="stylesheet" type="text/css" href="styles.css">
        <link rel="stylesheet" href="/css-style/navbar.css">
    </head>

    <body>
        <nav>
            <ul>
                <li id="blogs">BlOgGiNg</li>
                <li><a href="https://deepakkushwahg.github.io/Portfolio/">Contact</a></li>
                <li><a href="/create-page">Add-Blog</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Blog">About</a></li>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </body>

    </html>

</body>

</html>